
.navbar{
    justify-content: space-between;
}
.jumbotron { 
    background-color: rgb(34, 28, 75);
    color: whitesmoke;
    margin-top: 3.5em;
}
.jumbotron h1{
    font-weight: bolder;
}

/*ICONOS*/
.oi{
    margin-right: 10px;
}



.banner h2{

    color: rgb(66, 38, 165);
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}


/*TARJETAS DE JUEGOS*/

.card-juego{
    flex: 1 0 200px;
    text-align: justify;
    justify-content: space-between;
    margin-top: 10px;
}

.card-title{
    text-align: center;
}

.card-img-top{
    margin:auto;
    padding: 10px 10px 0 10px;
    max-width: 400px;
    max-height: 300px;
}

.card-juego .btn-notif
{
    width: 40px;
    height: 40px;
    float: right;
    margin: 0 4px 4px 0;

}
.btn-notif span{
    display: block;
}

.card-juego .btn-primary{
    width: 100%;
    background-color: rgb(34, 28, 75);
    border-radius: 0;
}
.card-juego .btn-primary:hover{
    background-color: rgb(60, 50, 124);
}





/*LINKS DE NAVEGACION*/

.nav-bc-link{
    color: rgb(34, 28, 75);
}

.nav-bc-link:hover{
    color:  rgb(60, 50, 124);
    text-decoration: underline;
}
.nav-bc-link:visited{
    color: rgb(28, 27, 31);
    text-decoration: underline;
}
.table-supp td{
    text-align: center;
}
.btn-supp{
    height: 2rem;
    width: 2rem;
    box-sizing: content-box;
}

.footer{
    padding: 10px 20px 0px 20px;
    background-color:  rgb(34, 28, 75);
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 0px;
}

.footer a{
    color: rgb(36, 194, 128);
}
.footer a:hover{
    color: rgb(40, 143, 100);
    text-decoration: underline;
}
.footer a:visited{
    color: rgb(216, 198, 99);
}