.navbar {
  justify-content: space-between; }

.jumbotron {
  background-color: #221c4b;
  color: whitesmoke;
  margin-top: 3.5em; }

.jumbotron h1 {
  font-weight: bolder; }

/*ICONOS*/
.oi {
  margin-right: 10px; }

.banner h2 {
  color: #4226a5;
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 0; }

/*TARJETAS DE JUEGOS*/
.card-juego {
  flex: 1 0 200px;
  text-align: justify;
  justify-content: space-between;
  margin-top: 10px; }

.card-title {
  text-align: center; }

.card-img-top {
  margin: auto;
  padding: 10px 10px 0 10px;
  max-width: 400px;
  max-height: 300px; }

.card-juego .btn-notif {
  width: 40px;
  height: 40px;
  float: right;
  margin: 0 4px 4px 0; }

.btn-notif span {
  display: block; }

.card-juego .btn-primary {
  width: 100%;
  background-color: #221c4b;
  border-radius: 0; }

.card-juego .btn-primary:hover {
  background-color: #4226a5; }

/*LINKS DE NAVEGACION*/
.nav-bc-link {
  color: #221c4b; }

.nav-bc-link:hover {
  color: #4226a5;
  text-decoration: underline; }

.nav-bc-link:visited {
  color: #1c1b1f;
  text-decoration: underline; }

.table-supp td {
  text-align: center; }

.btn-supp {
  height: 2rem;
  width: 2rem;
  box-sizing: content-box; }

.footer {
  padding: 10px 20px 0px 20px;
  background-color: #221c4b;
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 0px; }

.footer a {
  color: #24c280; }

.footer a:hover {
  color: #288f64;
  text-decoration: underline; }

.footer a:visited {
  color: #d8c663; }

.mixintest {
  padding: 5px, 8px, 5px, 5px;
  background-color: #00b545;
  border-radius: 10px; }
